* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fullBlock {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

.lastFooter{
   height: 67px;
    /* border: 2px solid red; */
    position: absolute;
    bottom: 9px;
    left: 9px;
    width: 100vw;
    width: 98.5%;
    background-image: linear-gradient(90deg,#af2896,#509bf5);
}
.footerBar{
   display: flex;
   align-items: center;
   padding: 11px 24px 7px 15px;
   justify-content: space-between;

}
.footerBar .preview{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.footerBar .preview p:first-child{
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #efefef;
    font-weight: 500;
}
.footerBar .preview p:last-child{
    font-size: 1rem;
    font-weight: 400;
    color: #efefef;
    font-weight: 500;
}
.btn-footer{
  display: flex;
  justify-content: center;
}
.btn-footer button{
     font-size: 1rem;
    font-weight: 700;
    border-radius: 500px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    height: 46px;
    width: 149px;
    border: 0px;
    /* position: relative;
    left: 136px;
    top: 5px;
    top: 10px; */
}
/* .btn-footer button:hover{
  transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
} */